<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="RailWaySystemDBEntities3" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=RailWaySystemDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="RailwaySystem.Properties.Settings.RailWaySystemDBConnectionString"
      connectionString="Data Source=LAPTOP-O6EITBUM\SQLEXPRESS;Initial Catalog=RailWaySystemDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RailwaySystem.Properties.Settings.RailWaySystemDBConnectionString1"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=RailWaySystemDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>